.optin-popup { 
	display:none; 
	position:absolute;
	right:0px;
	left:0px;
	bottom:0px;
	top:0px;
	z-index:2147483601;
}

.optin-button {
	background-color: #DD6C02;
	border-radius: 4px;
	padding: 3px 10px;
	font-size: 15px;
	color: white;
}

.optin-popup-content {
	background: white;
	max-width: 500px;
	margin: 20px auto;
	border-radius: 4px;
	position: relative;
	padding: 10px;
	padding-top: 20px;
}

.optin-popup-close {
	font-size: 12px;
	text-align: right;
	position: absolute;
	right: 5px;
	top: 5px;
}
.optin-popup-close:hover {
	cursor: pointer;
}

.optin-popup-content input {
	margin-bottom: 10px;
}

.optin-popup-message {
	font-size: 12px;
	text-align: center;
}

.optin-popup-message.success {
	color: green;
}